<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form action="/login" method="POST" onsubmit="loginValidate(event)">
    <input type="text" id="usernameOrEmail" name="usernameOrEmail" placeholder="아이디 또는 이메일" required/><br/>
    <input type="password" id="password" name="password" placeholder="비밀번호(6~12글자)" required/><br/>
    <button type="submit">로그인</button>
</form>
<button onclick="onClickJoin()">회원가입</button>

<a href="/oauth2/authorization/google">
    <button>구글 로그인</button>
</a>
<a href="/oauth2/authorization/kakao">
    <button>카카오 로그인</button>
</a>

<script src="/js/loginValidate.js"></script>
<script>
    const onClickJoin = () => {
        location.href = "/join"
    }
</script>

</body>
</html>
